name: Create GitHub release

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package name to release (name in package.json)"
        required: true

jobs:
  create-release:
    name: "Create release on GitHub"
    runs-on: ubuntu-latest
    env:
      PACKAGE: ${{ github.event.inputs.package }}

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # v3.5.0
        with:
          node-version-file: ".nvmrc"
      - name: Install dependencies
        run: npm ci
      - name: Create release for ${{ github.event.inputs.package }}
        run: npm run create-gh-release -- ${{ github.event.inputs.package }}
        env:
          GH_USERNAME: ${{ secrets.GH_USERNAME }}
          GH_EMAIL: ${{ secrets.GH_EMAIL }}
          GH_NAME: ${{ secrets.GH_NAME }}
          GH_PAT: ${{ secrets.GH_PAT }}